body {
    background-color: seashell;
    color: maroon;
    margin: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

/* Updated selector with a comma */
h1, h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: brown;
    font-weight: 700;
    align-self: center;
    margin-bottom: 20px;
}

a:hover {
    color: chocolate;
}

p {
    text-align: justify;
}
img {
  width: 200px;
  height: 200px;
  object-fit: cover; /* Corta a imagem nas bordas para preencher o espaço sem distorcer */
}
